* {
  box-sizing: border-box;
  font-family: monospace;
}
:root {
  --primary-color: #dec2a1;
  --secondary-color: #95b491;
  --accent-color: #861625;
  --highlight-color: #182416;
  --glow-spread-color: white;
  --tree-cookie-color: #6eb663;
}
body {
  font-weight: bold;
  position: absolute;
  height: 100vh;
  color: var(--primary-color);
  background-image: url(assets/Xmas.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 2vw;
  color: var(--primary-color);
  margin-left: 10%;
}
